{% load static %}
<md-content class="md-padding" ng-show="dsp.bookshelf">
  <md-list>
    <md-item ng-repeat="item in books">
      <md-item-content>
        <div class="md-tile-left">
          <img ng-src="{% static 'img/ic_book_black_36dp.png' %}" ng-click="openBook(item)">
        </div>
        <div class="md-tile-content">
          <h3 class="editable" contentEditable="true" required wb-item="item" ng-model="item.title"></h3>
          <p class="editable" contentEditable="true" required wb-item="item" ng-model="item.description" placeholder="Add a description..."></p>
        </div>
      </md-item-content>
    </md-item>
  </md-list>

  <md-button class="md-raised md-primary" ng-click="addBook()">
    New Book
  </md-button>
</md-content>
