<div class="md-whiteframe-z1 wb-form" layout="column" ng-show="dsp.book">
  <md-toolbar class="md-primary">
    <h1 class="md-toolbar-tools">[[ dsp.title ]]</h1>
  </md-toolbar>
  <md-content class="md-padding">
    <form name="bookForm" ng-submit="saveBook(book)">{% csrf_token %}
      <md-input-container>
        <label>Title</label>
        <input ng-model="book.title" required md-maxlength="100" minlength="4">
        <div ng-messages="bookForm.title.$error">
          <div ng-message="required">Book needs a title.</div>
          <div ng-message="maxlength">Title is too long!</div>
          <div ng-message="minlength">Title is too short!</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Description</label>
        <textarea ng-model="book.description" columns="1" md-maxlength="255"></textarea>
        <div ng-messages="bookForm.description.$error">
          <div ng-message="maxlength">Title is too long!</div>
        </div>
      </md-input-container>
      <section layout="row" layout-align="space-between center">
        <md-button type="button" class="md-raised" ng-click="openBookshelf()">Cancel</md-button>
        <md-button type="submit" class="md-raised md-primary">Save</md-button>
      </section>
    </form>
  </md-content>
</div>
