{% load static %}
<md-content class="md-padding" ng-show="dsp.chapter">
  <md-list>
    <md-item ng-repeat="scene in chapter.scenes">
      <md-item-content>
        <div class="md-tile-left">
          <img ng-src="{% static 'img/ic_book_black_36dp.png' %}">
        </div>
        <div class="md-tile-content">
          <h3 class="editable" contentEditable="true" required
              wb-item="scene" ng-model="scene.title"></h3>
          <p class="editable" contentEditable="true" required
             wb-item="scene" ng-model="scene.description"
             placeholder="Add a description..."></p>
        </div>
      </md-item-content>
    </md-item>
  </md-list>

  <md-button class="md-raised md-primary" ng-click="addScene()">
    New Scene
  </md-button>
</md-content>
