{% load static %}
<md-content class="md-padding" ng-show="dsp.contents">
  <md-list>
    <md-item ng-repeat="chapter in book.chapters">
      <md-item-content>
        <div class="wb-chapter" layout="column" layout-align="start start">
          <div class="title editable" contentEditable="true" required
              wb-item="chapter" ng-model="chapter.title"></div>
          <p class="editable" contentEditable="true" required
             wb-item="chapter" ng-model="chapter.description"
             placeholder="description..."></p>
          <p>
            <ng-pluralize count="chapter.page_count"
                 when="{'one': '1 page', 'other': '{} pages'}"></ng-pluralize>
            <ng-pluralize count="chapter.word_count"
                 when="{'one': '1 word', 'other': '{} words'}"></ng-pluralize>
          </p>
        </div>
        <div class="md-tile-content">
          <md-list layout="row" layout-wrap>
            <md-item ng-repeat="scene in chapter.scenes">
              <md-item-content class="wb-scene" layout="column">
                <div class="title editable" contentEditable="true" required
                  wb-item="scene" ng-model="scene.title"></div>
                <a href="[[ scene.alternate_link ]]" target="blank">
                  <img class="thumbnail" ng-src="[[ scene.thumbnail_link ]]" ng-show="scene.thumbnail_link" />
                  <div class="thumbnail" ng-hide="scene.thumbnail_link"></div>
                </a>
                <p class="editable" contentEditable="true" required
                   wb-item="scene" ng-model="scene.description"
                   placeholder="description..."></p>
                <p>
                  <ng-pluralize count="scene.page_count"
                       when="{'one': '1 page', 'other': '{} pages'}"></ng-pluralize>
                  <ng-pluralize count="scene.word_count"
                       when="{'one': '1 word', 'other': '{} words'}"></ng-pluralize>
                </p>
              </md-item-content>
            </md-item>
            <md-item layout="column" layout-align="end center">
              <md-button class="md-raised md-primary" ng-click="addScene(chapter)">
                Add Scene
              </md-button>
              <md-button ng-click="openFiles(chapter)">import</md-button>
            </md-item>
          </md-list>

        </div>
      </md-item-content>
    </md-item>
    <md-item>
      <md-button class="md-raised md-primary" ng-click="addChapter(book)">
        Add Chapter
      </md-button>
    </md-item>
  </md-list>
</md-content>
