*.pyc

/.*
!/.gitignore
!/.gitmodules

# Distribution / packaging
env/
sitepackages/
static/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# Secrets
client_secret_live.json
