/*
 * http://www.google.com/design/spec/style/color.html
 */

header nav a {
  display: inline;
}

.wb-book {
  width: 10em;
  min-height: 5em;
  margin: 1em;
  text-align: center;
}

.wb-chapter {
  width: 10em;
}

.wb-chapter .title {
  font-weight: bold;
}

.wb-scene {
  margin: 0 0.5em;
  max-width: 15em;
}

.wb-file {
  margin: 0 1em;
}

.wb-file .title,
.wb-scene .title {
  font-weight: bold;
  white-space: nowrap;
}

.wb-file .thumbnail,
.wb-scene .thumbnail {
  display: block;
  box-shadow: 2px 2px 2px 2px #CCC;
  width: 62px;
  height: 80px;
}

.wb-file .thumbnail:hover,
.wb-scene a .thumbnail:hover {
  box-shadow: 2px 2px 2px 2px #b2dfdb;
  cursor: pointer;
}

.editable {
  border: 2px solid transparent;
}

.editable:hover {
  background-color: #b2dfdb;
}

.editable:focus,
.editable:focus:hover {
  background-color: inherit;
  border-color: #b2dfdb;
  box-shadow: 0 1px 5px rgba(0,0,0,0.15) inset;
}

.editable-blank {
  color: #999;
}
